<div ui-view>
<div id="subtabs">
<div class="row row-centered">
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".registry" style="width: 100%;"><img src="images/configure.png" style="width: 40%"><br>Anagrafica</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".propertyPolicies" style="width: 100%;" disabled><img src="images/configure.png" style="width: 40%"><br>Policies Immobile</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".thermoData" style="width: 100%;"><img src="images/building.png" style="width: 40%"><br>Dati Termotecnici</button></div>
</div>
<br><br>
<div class="row row-centered">
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".cooling" style="width: 100%;"><img src="images/winter.png" style="width: 40%"><br>Riscaldamento</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".heating" style="width: 100%;"><img src="images/summer.png" style="width: 40%"><br>Raffrescamento</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".lagalLimits" style="width: 100%;" disabled><img src="images/viewing.png" style="width: 40%"><br>Limiti di Legge</button></div>
</div>
<br><br>
<div class="row row-centered">
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".registry" style="width: 100%;"><img src="images/bricks11.png" style="width: 40%"><br>Superfici Opache</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".transparentComponents" style="width: 100%;"><img src="images/window.png" style="width: 40%"><br>Componenti Trasparenti</button></div>
</div>
</div>
</div>