<div ui-view>
<div id="subtabs">
<div class="row row-centered">
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".dataFromField" style="width: 100%;"><img src="images/configure.png" style="width: 40%"><br>Dati dal campo</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".historicalConsumption" style="width: 100%;"><img src="images/configure.png" style="width: 40%"><br>Storico Comsumi</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".dailyProfile" style="width: 100%;"><img src="images/building.png" style="width: 40%"><br>Profilo Medio Giornaliero</button></div>
</div>
<br><br>
<div class="row row-centered">
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".weeklyProfile" style="width: 100%;"><img src="images/winter.png" style="width: 40%"><br>Profilo Medio Settimanale</button></div>
    <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".importConsumption" style="width: 100%;"><img src="images/viewing.png" style="width: 40%"><br>Importa Consumi</button></div>
</div>
</div>
</div>