<style>
    .footer {
        border-top: 1px solid #9c9c9c;
        border-left: 1px solid #9c9c9c;
        border-right: 1px solid #9c9c9c;
        text-align: center;
        border-bottom: 1px solid #9c9c9c;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 1em;
        background-color: white;
    }
    .footer img{
        margin: 0 !important;
    }
</style>
<div class="footer">
    <img src="images/softeco_logo.png" style="margin-top:20px; height:60px;">
</div>
