<div class="grid_16">
    <center>
        <div id="logo" style=" margin-top: 10px;"><img src="images/creembanner.png" style="height: 50px; margin: 15px;">
        </div>
    </center>
</div>

<div class="grid_16" id="header">

    <div id="menu">
        <ul class="group" id="menu_group_main">
            <li class="item first" id="one">
                <a ui-sref="globalView" ui-sref-active="current" class="main"><span class="outer"><span class="inner dashboard">Vista Globale</span></span></a>
            </li>
            <li class="item middle" id="two">
                <a ui-sref="buildingData" ui-sref-active="current" class="main"><span class="outer"><span class="inner content">Dati Edificio</span></span></a></li>
            <li class="item middle" id="three">
                <a ui-sref="consumptionAnalysis" ui-sref-active="current"><span class="outer"><span class="inner reports png">Analisi Consumi</span></span></a>
            </li>
            <li class="item middle" id="four">
                <a ui-sref="diagnosis" ui-sref-active="current" class="main"><span class="outer"><span class="inner users">Diagnosi</span></span></a>
            </li>
            <li class="item middle" id="five">
                <a ui-sref="budget" ui-sref-active="current" class="main"><span class="outer"><span class="inner media_library">Budget</span></span></a>
            </li>
            <li class="item last" id="six">
                <a ui-sref="optimizer" ui-sref-active="current" class="main"><span class="outer"><span class="inner event_manager">Ottimizzatore</span></span></a>
            </li>
        </ul>
    </div>
</div>
<div class="grid_16">

    <div style="background-color: #689102;">
        <div class="btn-group" style="margin: 4px; margin-left: 15px;">
            <button class="btn btn-sm dropdown-toggle round" type="button" data-toggle="dropdown" aria-expanded="false"
                    style="background-color: #486401; border-color: #486401;" onclick="$('#menutabs a[href=#tab-menu]').trigger('click');">
                Menu

            </button>
        </div>
        <div class="btn-group" style="margin: 3px; margin-left: 3px;">

            <button class="btn btn-sm dropdown-toggle round"
                    type="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    style="background-color: #486401; border-color: #486401;">
                <img src="images/icon_building_white.png" style="height: 20px; padding-right: 5px;">
                <span id="immobile_selezionato"></span>
                <span class="caret"></span>
                {{selectedBuilding.current.codice}}
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a class="btn"
                       ng-click="showBuildings()"
                       data-toggle="modal"
                       data-target="#modal-seleziona-immobile">Seleziona Immobile</a></li>
            </ul>
        </div>
    </div>
</div>