<style>
    .settings {
        display: flex;
        border-left: 1px solid rgb(156, 156, 156);
        border-right: 1px solid rgb(156, 156, 156);
        border-bottom: 2px solid rgb(156, 156, 156);
    }
    .settings ul {
        text-align: left;
        display: flex;
        margin: 0;
        list-style: none;
        width: 100%;
    }
    .settings ul li {
        padding: 10px;
        text-align: center;
        flex-grow: 1;
        float: left;
        font: bold 12px/18px sans-serif;
        font-size: 1.1em;
        display: inline-block;
        position: relative;
        background: #000;
        color: white;
        cursor: pointer;
    }
    .settings ul li img {
        height: 1.1em;
    }
    .settings ul li:hover {
        opacity: 0.9;
        color: #fff;
    }
    .settings ul li ul {
        z-index: 100;
        padding: 0;
        position: absolute;
        left: 0;
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .settings ul li ul li {
        background: #555;
        display: block;
        color: #fff;
        width: 100%;
        text-shadow: 0 -1px 0 #000;
    }
    .settings ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .buildings-counter-wraper {
        display: inline-block;
        vertical-align: bottom;
    }
    .buildings-counter {
        width: 18px;
        height: 18px;
        border-radius: 90px;
        background-color: #fff;
        color: black;
        text-align: center;
        display: table-cell;
        overflow: hidden;
        vertical-align:middle;
    }
    .settings .active-option {
        background-color: darkred;
    }

</style>
<div class="settings">
    <ul>
        <li ng-if="config.buildings.displayed > 0">
        <img src="images/icon_building_white.png">
        <span>Buildings</span>
            <div class="buildings-counter-wraper">
                <div class="buildings-counter">{{selectedBuildings.length}}</div>
            </div>
            <ul>
                <li ng-repeat="building in selectedBuildings">{{building.codice}}
                    <img align="right" ng-click="removeBuilding(building)" src="images/delete30.png"></li>
                <li ng-click="selectBuildings()">Add building <img src="images/add112.png"></li>
            </ul>
        </li>


        <li ng-if="config.buildingsConsumption.displayed > 0">
            <img src="images/icon_building_white.png">
            <span>Building Consumption</span>
            <div class="buildings-counter-wraper">
                <div class="buildings-counter">{{selectedBuildings.length}}</div>
            </div>
            <ul>
                <li ng-repeat="building in selectedBuildings">{{building.codice}}
                    <img align="right" ng-click="removeBuilding(building)" src="images/delete30.png"></li>
                <li ng-click="selectBuildings()">Add building <img src="images/add112.png"></li>
            </ul>
        </li>


        <li ng-if="clusters.displayed > 0">
            Clusters
            <ul>
                <li ng-class="isChecked(cluster) === true ? 'active-option' : ''" ng-click="checkElement(cluster)" ng-repeat="cluster in clusters.available">{{ cluster.name }}</li>
            </ul>
        </li>
        <li ng-if="provinces.displayed > 0">
            Provinces
            <ul>
                <li ng-class="isChecked(province) === true ? 'active-option' : ''" ng-click="checkElement(province)" ng-repeat="province in provinces.available">{{ province.name }}</li>
            </ul>
        </li>
        <li ng-if="buildingsConsumption.displayed > 0">
            BuildingsByConsumption
        </li>
        <li ng-if="buildingsConsumption.visible">Daterange</li>
    </ul>
</div>
