<style>

</style>
<div id="subtabs">
    <div ui-view>
    <div id="tab-menu">
        <span id="messaggi"></span>
            <div class="row row-centered">
                <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".map" style="width: 100%;"><img src="images/placeholder8.png" style="width: 40%;"><br>Mappa Immobili</button></div>
                <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".properties" style="width: 100%;"><img src="images/viewing.png" style="width: 40%;"><br>Elenco Immobili</button></div>
                <div class="col-xs-4 col-sm-4 col-centered"><button type="button" class="btn btn-primary raised round gradient" ui-sref=".weather" style="width: 100%;"><img src="images/cloudy19.png" style="width: 40%;"><br>Dati Meteo</button></div>
            </div>
    </div>
    </div>
</div>

